![Image](https://img.freepik.com/vector-gratis/concepto-diabetes-personaje-medico-dibujos-animados-que-aconseja-pequenas-personas-pacientes-estilo-vida-saludable-blanco_109722-1158.jpg?size=626&ext=jpg)

# Tarea
Dada una base de datos en grupo, realizar las diferentes técnicas de pre procesamiento de datos. 

### Importar librerias y base de datos.

In [11]:
import pandas as pd
import numpy as np
import json

También existen otras librerias como Matplotlib, SciPy, Numba, Keras,etc

### Visualizar los datos.

La base de datos usada es *Pima Indians Diabetes Database*, obtenida del *National Institute of Diabetes and Digestive and Kidney Diseases*
Y como está en formato .csv, se importará de la siguiente manera

In [12]:
diab = pd.read_csv("diabetes.csv")

**.shape**

Devuelve una tupla con las dimensiones de un array,es decir nos proporciona el número de columnas y filas de la base de datos, en este caso se puede observar que tiene 9 columnas y 768 filas.

In [13]:
diab.shape

(768, 9)

+ **head()**

Con el comando de head se pueden visualizar los primeros cinco elementos de cada una de las columnas, si se desean ver más datos dentro del parentesis se escribe el numero de elementos que queremos mostrar.

In [14]:
diab.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

**Ejemplo:**

In [15]:
diab.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

+ **tail()**

Esta función devuelve las últimas n filas del objeto según la posición. Es útil para verificar datos rápidamente, por ejemplo, después de ordenar o agregar filas,en este caso se puede observar que se tienen datos de 767 pacientes.

In [16]:
diab.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

### Descripción básica de columnas

+ **columns()**

Nos interesa saber que columnas tiene la base de dato, para establecer que variables podrían ser de utilidad para el modelo,entonces se usa ***.columns***

In [17]:
diab.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

+ **Celdas vacias**

In [21]:
diab.isnull().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

### Clasificación de los datos

+ **dtypes**

La propiedad dtypes se usa para encontrar los dtypes en el DataFrame.

Esto devuelve una serie con el tipo de datos de cada columna. El índice del resultado son las columnas del DataFrame original. 
En este caso, nos interesa saber que tipo de variable es, para dar el tratamiento estadístico correspondiente.

In [18]:
diab.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

Y si se desea conocer el tipo de datos que contiene alguna columna es específico, se usa:

In [19]:
diab['SkinThickness'].dtype

dtype('int64')

### Cambiar nombres de columnas.

Se cambiará el nombre de las columnas, para una fácil identificación de estas

In [20]:
diab.rename(columns = {'Pregnancies':'Emb','BloodPressure':'B_P','Glucose':'Glu','SkinThickness':'S_T','Insulin':'In','DiabetesPedigreeFunction':'DPF','Outcome':'Result'})

     Emb  Glu  B_P  S_T   In   BMI    DPF  Age  Result
0      6  148   72   35    0  33.6  0.627   50       1
1      1   85   66   29    0  26.6  0.351   31       0
2      8  183   64    0    0  23.3  0.672   32       1
3      1   89   66   23   94  28.1  0.167   21       0
4      0  137   40   35  168  43.1  2.288   33       1
..   ...  ...  ...  ...  ...   ...    ...  ...     ...
763   10  101   76   48  180  32.9  0.171   63       0
764    2  122   70   27    0  36.8  0.340   27       0
765    5  121   72   23  112  26.2  0.245   30       0
766    1  126   60    0    0  30.1  0.349   47       1
767    1   93   70   31    0  30.4  0.315   23       0

[768 rows x 9 columns]

### Eliminar columnas no deseadas

No se eliminará ninguna columna, ya que todas las variables son factores de riesgo asociado a la diabetes mellitus, por lo que podrían ser de gran ayuda para la elaboración del modelo predictivo.

### Preguntas de interés


Importancia del análisis previo de los datos antes de iniciar las modificaciones. 



El análisis previo funciona para definir el problema que podemos plantear en base de los datos que recaudamos, los datos pueden estar dispersos y almacenados en formatos distintos; también pueden contener incoherencias como entradas que faltan o incorrectas y en estos casos nuestro modelo puede ser alterado de una manera que no sea favorable a nuestras predicciones o interpretaciones futuras. 



¿Para que me puede servir estas agrupaciones para la práctica siguiente?

Nos puede servir para encontrar principalmente correlaciones en los datos que,ya agrupados por medio de un análisis de cluster, poder interpretar que por ciertos factores encontrados en nuestro análisis nos percatamos de patrones que dan hincapié a nuestro problema de mejorar la detención de la diabetes en las personas.

---

### Tarea extra

+ Investigar los siguientes comandos: ?df.dropna() ?df.astype

+ Realizar una tarea de preprocesamiento no mencionada en esta práctica.

+ **El comando df.dropna():**

El método dropna permite, de una forma muy conveniente, filtrar los valores de una estructura de datos pandas para dejar solo aquellos no nulos.

In [8]:
diab.dropna()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

+ En este caso como la base de datos no posee datos nulos,por lo que  mantuvo la dimensión original, es decir 768 filas y 9 columnas.

Por defecto elimina las filas con 0, sin embargo si se desea eliminar las columnas con valores 0, se tiene la siguiente sintaxis:

**data_frame.dropna(axis=1)**

Si se agrega how, se puede controlar cómo se aplica el método, es decir: si toma el valor "all", solo se eliminarán las filas o columnas en las que todos sus elementos sean nulos. Si toma el valor "any" (valor por defecto), se eliminarán las filas o columnas en las que algún elemento sea nulo. De esta forma:

In [ ]:
diab.dropna(how="all")
diab.dropna

+ ### astype
Cambia el tipo de datos de los objetos a un tipo de datos especificado.

**Sintaxis:**
DataFrame.astype(dtype)

Nota: dtype se refiere al tipo de dato al que se desea convertir
+ #### Ejemplo:

In [27]:
diab.Insulin.astype("float")

0        0.0
1        0.0
2        0.0
3       94.0
4      168.0
       ...
763    180.0
764      0.0
765    112.0
766      0.0
767      0.0
Name: Insulin, Length: 768, dtype: float64

### Tarea de preprocesamiento extra

+ ### Duplicated

Una parte importante del análisis de datos es analizar valores duplicados y eliminarlos. El método Pandas duplicated () ayuda a analizar solo valores duplicados.
Devuelve una serie booleana que es verdadera sólo para elementos únicos.

+ ***Ejemplo***

In [28]:
diab.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
763    False
764    False
765    False
766    False
767    False
Length: 768, dtype: bool

+ ### drop_duplicates()

El método drop_duplicates () de Pandas ayuda a eliminar duplicados del marco de datos.
Además se puede agregar el método keep mediante la cual se puede indicar si se conserva la primera o ultima ocurrencia. Por defecto conserva la primera.

***Sintaxis:*** 

*DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)*

***Nota:*** En la base de datos usada no se eliminará ningún dato duplicado, ya que eso no indica inconsistencia en el caso de estudio, sin embargo, si se tuviera una base de datos de una encuesta, con nombres repetidos, sería de gran utilidad.